:root {
    --barva-pozadi:#FFFFEA;
    --barva-fontu: #2E1E0F; 
}

body {
    background-color: var(--barva-pozadi); 
    color: var(--barva-fontu);
    margin: 0 auto;
    max-width: 1200px;
    width: 90%;
    font-family: 'Playfair Display', serif;
}

#medailonek {
    margin: 100px 0 100px 0;
    border-radius: 15px;
    background-color: #6A994E;
}

#jmeno {
    font-size: 2.8rem; 
    text-align: center;
    padding: 2rem 0 0.5rem 0;
    margin: 0;
}

#nadpis {
    font-size: 80px; 
    text-align: center;
    margin: 0;
    padding: 0 0 1rem 0;
}

#text-medailonku {
    font-size: 2rem; 
    text-align: center;
    padding: 0.5rem 0 2rem 0;
    margin: 0;
}
